/** @format */

:root {
	--clr-active: black;
}

* {
	padding: 0;
	margin: 0;
}

body {
	display: grid;
	grid-template-rows: repeat(11 1fr);
	align-items: start;
	justify-content: start;
	height: 100vh;
	width: auto;
	color: #080;
}

.box-row {
	width: 100vw;
	display: flex;
	flex-direction: row;
}
.box {
	width: 50px;
	height: 50px;
	/* margin: 1px; */
	/* background: white; */
	border: 1px solid skyblue;
	max-height: calc(100vh / 12);
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	background: #fff;
}
.box-row .box.one {
	background: #fff !important;
	color: #fff !important;
	border-color: white !important;
}

.box-row:first-child {
	/* background: rgb(51, 51, 51) !important; */
	color: #fff !important;
}

button {
	align-items: center;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background: #576067;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	color: #bbb;
	width: 50vw;
}
.buttons {
	font-weight: 900;
	color: #578067;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 1px solid gray;
	-webkit-border-radius: -10px;
	-moz-border-radius: -10px;
	border-radius: -10px;
	margin-inline: 0;
	padding-inline: 0;
	padding-block: 20px;
	gap: 5px;
	/* background: rgb(204, 204, 204); */
	background: #bdc0c2 url(./blob.svg) center/75% auto no-repeat;
}

.custom-circle-checkbox {
	color: #576067;
	border: 2px solid #576067;
	width: calc(50vw -10px);
	padding: 10px;
	margin: 0 auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

/* Masque la checkbox par défaut */
.custom-circle-checkbox input[type="checkbox"] {
	display: none;
}

/* Crée un cercle pour la checkbox personnalisée */
.custom-circle-checkbox .circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #245412;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
	transition: background-color 0.3s;
}

/* Lorsque la checkbox est cochée, change la couleur du cercle */
.custom-circle-checkbox input[type="checkbox"]:checked + .circle {
	background-color: #576067;
}

/* Crée l'effet de coche à l'intérieur du cercle */
.custom-circle-checkbox input[type="checkbox"]:checked + .circle::after {
	content: "✔";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 10px;
}

input:color {
	width: 30vw;
}

/* Conteneur de l'input pour personnaliser le style */
input[type="color"] {
	border: 2px solid #576067;
	padding: 5px;
	cursor: pointer;
	width: 50vw; /* Contrôler la taille de l'input */
	max-width: 300px;
	height: 40px;
	border-radius: 10px;
	transition: all 0.3s ease;
}

input[type="color"]:hover {
	transform: scale(1.1); /* Agrandissement lors du survol */
}

/* Ajouter une bordure autour de l'input */
input[type="color"]:focus {
	border: 3px solid #576067;
}

#download-button {
	background: var(--clr-active);
}

select {
	background-color: white;
	color: black;
	width: 50vw;
	padding: 8px;
	border: 2px solid #576067;
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;
	appearance: none; /* Supprime le style natif */
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("chevron-down.svg"); /* Icône personnalisée */
	background-repeat: no-repeat;
	background-position: right 10px center;
	padding-right: 30px; /* Pour éviter que le texte chevauche l’icône */
	text-align: center;
}

select:hover {
	border-color: #2980b9;
}

select:focus {
	outline: none;
	border-color: #578067;
	box-shadow: 0 0 5px rgba(230, 126, 34, 0.5);
}

option {
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: white;
	color: black;
	background-color: white;
	color: black;
	font-size: 16px;
	padding: 10px; /* Fonctionne sur Chrome, mais ignoré sur Firefox */
}

option:hover {
	background-color: #3498db;
	color: white;
}

option:hover {
	background-color: #3498db;
	color: white;
}
